<!-- <div class="dropdown" style="cursor: pointer;">
    <button class="btn btn-dark dropdown-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="btn btn-dark" style="color: white;"> User name
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
        </span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
        <li>
            <a class="dropdown-item">Profile</a>
        </li>
        <li>
            <a class="dropdown-item">Friends</a>
        </li>
        <li>
            <a class="dropdown-item">Messages</a>
        </li>
        <li>
            <a class="dropdown-item">Groups</a>
        </li>
        <li>
            <a class="dropdown-item">Login/Logout</a>
        </li>
    </ul>
</div> -->



<!-- ngbootstrap test  -->
<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
            <span>Username </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
        </button>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Profile</button>
          <button ngbDropdownItem>Friends</button>
          <button ngbDropdownItem>Messages</button>
          <button ngbDropdownItem>Groups</button>
          <button ngbDropdownItem>Login/Logout</button>
        </div>
      </div>
    </div>
  </div>