.message-container{
    display: flex;
    flex-wrap: wrap;

    margin: 0.75em 0em;
    padding: 0.25em;

    color:white;
    background-color: #793a99;
    border-radius: 0.5em;
    
    transition: background-color 0.2s;

    box-shadow: 1px 10px 17px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 17px 0px rgba(0,0,0,0.75);
}

.message-container:hover{
    background-color: #9448bc;
}