/* .message-container{
    margin: 0.25em;
    background-color: #9448bc;
    border-radius: 0.5em;
    transition: background-color 0.2s;
}

.message-container:hover{
    background-color: #793a99;
} */