<div class="container-fluid">
    <div class="row">
        <div class="header-area">
            <video src="../../assets/world-chat-logo-v4.mp4" height="400px" autoplay loop style="border-radius: 100%;"></video>
            <div class="col-6 header-text">
                <h3>Welcome to World Chat, a chat app designed to be customizable based on themes in your community or group.</h3>
            </div>
        </div>
        <div class="col-12 app-feature-cards">
            <div class="col-4 app-feature-cards-item"> 
                <img src="" alt="image name">
                <h3>Customize your chat space for your community!</h3>
            </div>
            <div class="col-4 app-feature-cards-item"> 
                <img src="" alt="image name">
                <h3>Navigate to rooms and servers with our map feature!</h3>
            </div>
            <div class="col-4 app-feature-cards-item"> 
                <img src="" alt="image name">
                <h3>Invite others to your community server!</h3>
            </div>
        </div>
    </div>
</div>