<div class="container-fluid">
    <div class="row">
        <div class="header-area col">
            <video id="app-logo" autoplay loop>
                <source src="../../assets/world-chat-logo-v4.mp4" type="video/mp4">
            </video>
            <h3 class="display-1 lead header-text">Welcome to World Chat, a chat app that provides a platform for community discussion.</h3>
        </div>
    </div>
    <div class="row app-feature-cards">
        <div class="col-xs-12 col-md-4 app-feature-cards-item"> 
            <img src="../../assets/settings-card.svg" alt="image name">
            <h3 class="app-feature-card-text">Customize your chat space for your community!</h3>
        </div>
        <div class="col-xs-12 col-md-4 app-feature-cards-item"> 
            <img src="../../assets/navigate.svg" alt="image name">
            <h3 class="app-feature-card-text">Navigate to rooms and servers with our map feature!</h3>
        </div>
        <div class="col-xs-12 col-md-4 app-feature-cards-item"> 
            <img src="../../assets/friends.svg" alt="image name">
            <h3 class="app-feature-card-text">Invite others to your community server!</h3>
        </div>
    </div>
</div>
