
<div class="dropdown wrapper">
    <button class="btn btn-dark dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{ title + ': ' + (chatAreaName + 1) }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let chatArea of localChatAreas">
            <a class="dropdown-item" 
            (click)="onRouteClicked(chatArea)">{{ chatArea.name }}</a>
        </li>
    </ul>
</div>