
<div class="dropdown wrapper">
    <button class="btn btn-dark dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{ dropdownLabel + ': ' + (selectedItemId + 1) }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
            <a class="dropdown-item" (click)="onAddItem()">+</a>
        </li>
        <li *ngFor="let item of listItemsArr">
            <a class="dropdown-item" 
            (click)="onItemClicked(item)">{{ item.id + 1}}</a>
        </li>
    </ul>
</div>